body
{
	//background-image: url("../New folder/networking.jpg"); 
	background-repeat: no-repeat;
	background-size:   cover;                      
	overflow: hidden; 
	z-index:-1;
}

#header1
{
	height: 100px;
	width: 100%;
	background-color:#384F99;
	font-family: lucida console;
	color: #ffffff;
	margin-top: -5px;
	padding: 0px;
}

#headerDiv
{
	margin-top: 10px;
	width: 180px;
	margin-top: 30px;
	margin-left: 90px;
	position: absolute;
}

#mainDiv
{
	width: 250px;
	height: 370px;
	margin-left: 555px;
	margin-top: 70px;
	background-color: #2D3F7A;
	opacity:95 ;
}

#p1
{

	font-family: microsoft sans serif;
	font-size: 18px;
	font-weight: bolder;
	padding: 10px;
	color: #E2E2E2;
	text-align: center;
	background:  #717B9C;
}

#loginButton
{

	font-family: microsoft sans serif;
	font-size: 16px;
	background-color: #576595;
	color: #ffffff;
	border-radius: 2px;
	border: none;
	margin-top: 150px;
	margin-left: 26px;
	position: absolute;
	width: 200px;
	height: 35px;		
}

#loginButton hover
{
	 cursor: pointer;
	 box-shadow: 0 0 1px #ffffff; 
}

#label
{
	font-family: microsoft sans serif;
	font-size: 12px;
	color: #ffffff;
	margin-top: 210px;
	margin-left: 60px;
	position: absolute;
}



.textbox
{
	font-family: microsoft sans serif;
	font-size: 16px;
	background-color: #A1A9C4;
	color: #2D3F7A;
	border-radius: 2px;
	border: none;
	margin-top: 20px;
	margin-left: 26px;
	position: absolute;
	width: 197px;
	height: 35px;
	padding-left: 5px;
}



#pwdTxt
{
	margin-top: 60px;
}