<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1></h1>
    <p>Please enter the new details</p>
    <form method="post"	action="about">
   Firstname: <input type="text" name="firstname"><br>
   City: <input type="text" name="city"><br>
   Current Occupation: <input type="text" name="current"><br>
   Date Of Birth: <input type="text" name="dob"><br>
 	<input type ="submit" value="Update About"/>
 	</form>
  </body>
</html>